# set `true` to disable OpenAI API debug log
OPENAI_API_DISABLE_DEBUG=

# OpenAI API Key
OPENAI_API_KEY=

# OpenAI API Base URL
OPENAI_API_BASE_URL=https://api.openai.com/v1

# Rate Limit
MAX_REQUEST_PER_HOUR=

# Auth Rate Limit
AUTH_MAX_REQUEST_PER_MINUTE=5

# Title for site
SITE_TITLE="Soc Web"

# Database connection string
# MONGODB_URL=mongodb://chatgpt:xxxx@yourip:port
MONGODB_URL=mongodb://127.0.0.1:27017/chatgpt

# Secret key for jwt
# If not empty, login will be required.
AUTH_SECRET_KEY=replace-with-a-random-secret-key

# ----- Only valid after setting AUTH_SECRET_KEY begin ----

# The root user email
ROOT_USER=

# Password salt
PASSWORD_MD5_SALT=replace-with-a-random-password-salt

# Allow anyone register, must be turned on first so administrators can register.
REGISTER_ENABLED=true

# ----- Only valid after setting AUTH_SECRET_KEY end ----

# More settings are available after running; register an admin and configure them in the admin page.
